body {
    text-align: center;
    font-family: sans-serif;
}

nav {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    position: fixed;
    bottom: 20px;
}

button {
    border-style: solid;
    border-width: 1px;
    border-color: #a0aec0;
    box-shadow: 2px 2px 10px #cdd2d8;
    border-radius: 10px;
    margin: 20px;
    padding: 10px 30px 10px 30px;
}

button:hover {
    background-color: #abd0d1;
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input {
    border-radius: 5px;
    border-width: 1px;
    height: 30px;
    width: 300px;
    margin: 10px;
}

#filters {
    display: flex;
    gap: 20px;
}

.badge {
    width: max-content;
    color: white;
    background-color: #a0aec0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    opacity: 50%;
}

.stat-card {
    border-style: solid;
    border-width: 1px;
    border-color: #a0aec0;
    box-shadow: 2px 2px 20px #a0aec0;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
.stat-card>h1 {
    font-size: 25px;
}

.off {
    opacity: 30%;
    font-size: 30px;
}

#modal {
    display: none;
    position: absolute;
    top: 30vh;
    left: 20vw;
    z-index: 1000;
    width: 300px;
    background-color: white;
}

.hidden {
    display: none;
}
